
/* ********************这是 头部************************ */
#head_nav{

    width:950px;
    height:90px;

    margin:0 auto;
    position: relative;


    .head_logo{
        width: 155px;
        height: 34px;
        display: block;
        /*line-height: 90px;  这个属性是只对 内联元素使用的吗 */
        /*margin-top: 30px;*/
        position: absolute;
        left:0;
        top:30px;
        background-image: url("../img/logo.png") ;
    }

    .head_search{

        width: 272px;
        height:32px;
        border:1px solid #c3c3c3;
        position: absolute;
        left:185px;
        top:30px;

        input{
            width: 240px;
            font-size: 13px;
            height: 20px;
            padding: 5px;
        }

        .search_logo{
            width: 20px;
            height:20px;
            position: absolute;
            left:247px;
            top:5px;
            background-image: url("../img/search_logo.png") ;
        }

    }

    .head_banner{
        width: 460px;
        height:21px;
        position: absolute;
        right: 2px;
        top:35px;

        .head_shu:hover{
            background: url("../img/head_banner.png") 0px 0px no-repeat;
        }
        .head_shu{
            /*     图片    位置 background-position：<position> [ , <position> ]   background-repeat */
            /* background-position 用长度值指定背景图像填充的位置。可以为负值。*/
            background: url("../img/head_banner.png") 0px 0px no-repeat;

        }

    }

    ul li{
        float: left;
        margin-right: 17px;

        a{
            width: 40px;
            height: 22px;
            display: block;

        }
        a.head_move{

            background: url("../img/head_banner.png") -62px 0px no-repeat;
        }

        a.head_music{
            background: url("../img/head_banner.png") -120px 0px no-repeat;
        }
        a.head_team{
            background: url("../img/head_banner.png") -182px 0px no-repeat;
        }

        a.head_tongcheng{
            background: url("../img/head_banner.png") -240px 0px no-repeat;
        }
        a.head_fm{
            background: url("../img/head_banner.png") -301px 0px no-repeat;
        }
        a.head_dx{
            background: url("../img/head_banner.png") -360px 0px no-repeat;
        }
        a.head_shiji{
            background: url("../img/head_banner.png") -423px 0px no-repeat;
        }

    }
}
/* ********************这是 头部************************ */

/* ********************这是 登陆部分************************ */

#wrapper{
    height:178px;
    background: url("../img/bgg.png");

    .wrapper_content{
        height:178px;
        width:950px;
        margin:0 auto;
        position: relative;

        .wrapper_img{
            height:178px;
            width:393px;
            position: absolute;
        }
        .text_1{
            font-size: 25px;
            color: #111;
            font-weight: bold;
            position: absolute;
            left: 430px;
            top:36px;

        }
        .text_2 {
            color: #111;
            font-size: 12px;
            position: absolute;
            top:70px;
            left: 430px;
        }
        .download_app{
            display: block;
            width:114px;
            height:28px;
            background: #06C512;
            border-radius: 2px;
            position: absolute;
            top: 104px;
            left: 430px;
            text-align: center;
            line-height: 28px;
            color: #FFF;
        }
        .reweima_png{
            width:30px;
            height:30px;
            position: absolute;
            top: 104px;
            left: 549px;
        }
        form  input{
            width: 270px;
            height: 32px;
            position: absolute;
            right:0;
            padding: 0.8px;
        }

        .email{
            top:28px;
        }
        .pas{
            top:68px;
        }
        .submit{
            width: 133px;
            height:30px;
            color: #FFF;
            background: #2A8C70;
            border-radius: 2px;
            top:110px;
            right:137px;

        }
        .submit:hover{
            background: #568c5d;
        }

        .singin{
            width: 133px;
            height:29px;
            display: block;
            border:1px solid #2A8C70;
            color: #2A8C70;
            text-align: center;
            position: absolute;
            top:110px;
            right:0;
            line-height: 30px;

            border-radius: 2px;
        }
        .singin:hover{
            background:transparent;
        }
        .remember_me{
            position: absolute;
            top:150px;
            right: 197px;
        }
        ul li{
            float: left;
            margin-right: 12px;

            a{
                width: 14px;
                height: 14px;
                display: block;

            }
        }
        .wei{
            position: absolute;
            top:152px;
            right:0;

            .weibo{
                background: url("../img/weibo.png") -4px 0px no-repeat;
            }
            .weixin{
                background: url("../img/weibo.png") -25px 0px no-repeat;
            }
        }
    }

}
/* ********************这是 登陆部分************************ */

/* ********************热点内容*********************** */
#hot_content{
    height: 492px;

    .hot_content_context{
        height: 420px;
        width: 950px;

        margin: 37px auto;

        .contect_left{
            height: 420px;
            width: 360px;

            float: left;

            h2{
                font: 15px Arial, Helvetica, sans-serif;
                color: #072;
                margin: 0 0 12px 0;
                line-height: 150%;

                span{
                    font-size:10px;

                }

            }

            ul li{
                float: left;
                margin-right: 8px;
                margin-bottom: 8px;

                a:hover{
                    background: #FFF;
                }

                p span{

                    font-size: 12px;
                    color:#999999 ;

                }
            }

        }
        .contect_center{
            height: 420px;
            width: 270px;

            float: left;
            margin-left: 17px;

            ul li{
                padding: 10px;

                a{
                    font-size: 12px;
                    line-height: 15px;
                }
                b{
                    font-size: 12px;
                    color: #999;

                    font-weight :normal;
                    display: block;
                    line-height: 22px;
                }
                p{
                    font-size: 14px;

                    color: #666;
                }


            }


        }

        .contect_right{
            height: 420px;
            width: 268px;

            float: left;
            margin-left: 35px;

            .contect_right_img:hover{
                background: #FFF;
            }
            ul li{
                line-height: 33px;

                .activity a{
                    font-size: 12px;
                }
                .activity p{
                    font-size: 12px;
                    color: #666;
                }

            }

        }

    }

}
/****************************热点内容结束************************************/

/****************************电影区***********************************/
#movie{
    height: 700px ;
    background: #F7F7F7;
    padding: 40px;

    a:hover{

        background: #F7F7F7;

    }
    .move_content{
        width: 907px;
        height: 542px;
        margin: 0 auto;

        .content_center{

            width: 514px;
            height: 542px;
            float: left;

            ul li{
                width: 100px;

                float: left;
                margin-left: 13px;
                margin-right: 13px;
                margin-bottom: 40px;

                .img_li{
                    width: 100px;
                    height: 140px;
                }
                .monve_title{
                    text-align: center;
                    line-height: 20px;
                }
                .monve_title a{
                    color: #333;
                    font-size: 13px;
                }
                .monve_title a:hover{
                    color: #FFF;

                }
            }

            .piao{
                display: block;
                width: 62px;
                height: 24px;
                background: #1c8bd0;
                text-align: center;
                color: #FFF;
                line-height: 24px;
                border-radius: 2px;
                margin: 0 auto;
            }
            .piao:hover{
                background: #076dd0;
            }
        }


    }
    .contect_right{
        width: 235px;
        float: left;

        margin-left: 25px;

        a{
            font-size: 12px;
        }
        .row li{
            float: left;
            margin-bottom: 5px;

            li ul li{
                float: left;
                margin-right: 20px;
                line-height: 20px;
            }
        }
        .hot_ul{
            clear: both;
            list-style-type:decimal;
            margin-left: 25px;

            li{

                height: 31px;
                line-height: 31px;
                border-bottom: 1px dotted   #999;


            }

        }


    }

    .move_hangfu{
        width: 950px;
        height: 90px;
        margin:52px auto;
        display: block;
    }


}

/* .move .move_content .content_center*/ .monve_start{
                                             text-align: center;
                                             line-height: 20px;
                                         }
/*.move .move_content .content_center*/ .monve_start img{
                                            width: 55px;
                                            height: 11px;
                                            background: url("../img/start_img.png") 0 0 no-repeat;
                                            border: none;
                                        }
/* .move .move_content .content_center */.monve_start span{
                                             font-size: 10px;
                                             color: #ffae38;
}

/***************电影区 结束 ***************/


/****************小组区-****************/
#group{
    height: 645px;
    background: #FFF;

    a:hover{

        background: #FFF;
    }
    .group_content{
        width: 950px;
        height: 646px;
        margin: 37px auto;

        .group_centent{
            width: 520px;

            float: left;

            ul li{
                width: 240px;
                height: 50px;

                float: left;
                margin-bottom: 41px;

                .img_div{
                    float: left;
                    margin-right: 20px;
                }
                .text_div{
                    float: left;
                    p{
                        margin-top: 10px;

                    }
                }

            }
        }


        .group_right{
            width: 249px;
            float: left;

            ul li{
                float: left;
                margin-right: 14px;

                a{
                    font-size: 12px;
                }

                .cate_lable{
                    width: 249px;
                    margin-bottom: 5px;
                    a{
                        font-size: 14px;
                        color: #333;
                    }
                    a:hover{

                        color: #FFF;
                    }
                }


            }
        }
    }




}

/****************小组区结束****************/

/**************** reading 读书区 ****************/
#reading{
    height: 700px;
    background: #f7f7f7;
    border: 1px solid #f7f7f7;

    .reading_content{
        width: 950px;
        margin: 38px auto;
        border: 1px solid #f7f7f7;

        a{
            color:  #614e3c;
        }
        a:hover{
            color:  #FFF;
        }
        .reading_center{
            width: 560px;

            float: left;

            ul{
                margin-left: 15px;

                li{
                    width: 100px;
                    float: left;

                    margin-right: 33px;
                    p {
                        text-align: center;
                        margin-top: 8px;
                    }
                    .book_img{
                        display: block;
                        width: 102px;
                        height: 149px;
                    }
                    .book_img:hover{
                        background: #f7f7f7;

                    }
                    .mian_red{
                        display: block;
                        width: 68px;
                        height: 22px;
                        background: #999a95;
                        border-radius: 2px;
                        text-align: center;
                        line-height: 22px;
                        margin: 20px auto;
                        color: #FFF;
                    }
                    .mian_red:hover{
                        background: #7b7c77;
                    }

                }
            }


        }

        .redding_right{
            float: left;
            width: 255px;

            ul{
                width: 264px;
                height: 55px;
                border-bottom: 1px solid #999999;
                margin-top: 15px;

                li{
                    float: left;
                    margin-right: 10px;
                    line-height: 20px;

                    a{
                        font-size: 12px;
                    }
                    .redding_title{

                        color: #999999;
                    }

                }
            }
        }

    }


}


/**************** reading 读书区 结束 ****************/


/**************** Music ****************/
#music{
    height: 639px;
    background: #FFF;
    a{
        color: #555d53;
    }
    a:hover{
        color: #FFF;

    }
    .music_content{
        width: 950px;
        margin:43px auto;

        .music_center{
            width: 540px;

            float: left;

            ul li{
                width: 124px;

                float: left;
                margin-right: 8px;
                margin-bottom: 49px;

                .img_a{
                    display: block;
                    width: 80px;
                    height: 80px;
                    margin: 0 auto;

                }
                p{
                    text-align: center;
                    a{
                        line-height: 25px;
                    }
                }
                .m_p{
                    text-align: center;
                    margin-top: 19px;
                }

            }


        }

        .music_reght{
            width: 222px;

            float: left;

            ul{
                list-style-type:decimal;
                border: 1px solid #FFF;
                margin-left: 30px;

                li{
                    height: 73px;
                    width: 190px;
                    border: 1px solid #FFF;

                    .img_div{
                        float: left;
                        width: 48px;
                        height: 48px;
                    }
                    .text_div{
                        float: left;
                        margin-left: 20px;
                    }

                }
            }


        }


    }


}
/**************** Music  结束 ****************/

/****************同城 ****************/

#city{
    height: 387px;
    background: #f7f7f7;
    clear: both;
    position: relative;
    a{
        color: #664433;
    }
    a:hover{
        color: #FFF;
    }
    .city_content{
        width: 950px;

        position: absolute;
        margin: 37px 200px 0;

        .city_center{
            width: 590px;

            float: left;

            .img_div_a:hover{
                background: #F7F7F7;

            }
            ul li{
                float: left;
                margin-right: 30px;
                margin-bottom: 45px;
                width: 260px;

            }
            .img_div{
                float: left;
                margin-right: 10px;
            }
            .text_div{
                float: left;
                a{
                    font-size: 10pt;
                    line-height: 20pt;
                }
                p{
                    font-size: 10pt;
                    color: #666666;
                }
            }


        }

        .city_right{
            width:230px;

            float: left;

            .c_a_tag{
                padding-bottom: 50px;

                .t_t{
                    color: #000;
                    margin-right: 200px;
                    line-height: 25px;
                    font-size: 14px;
                }
                ul li{
                    float: left;
                    margin-right: 10px;
                    a{
                        font-size: 12px;
                    }
                }

            }

        }


    }

}
/**************** 同城  结束 ****************/

/**************** 最后部分 广告区 ****************/

#ad{
    height: 270px;
    background: #FFF;
    .ad_hangfu:hover {

        background: #FFF;

    }
    .ad_center{
        width: 950px;
        margin: 0 auto;

        .ad_hengfu{
            height: 90px;
            margin: 30px 0;
            border-bottom:1px dotted #dcdcdc;

        }
        .ad_letf{
            width: 460px;
            float: left;
            p{
                font: 12px Helvetica,Arial,sans-serif;
                color: #999999;
                line-height: 1.62;
            }
            .ad_jd{
                line-height: 20px;
                vertical-align: middle;
                border: 0;
            }
            .ad_em{
                width: 111px;
                height: 13px;
            }
            .ad_zg{
                width: 13px;
                height: 13px;

                vertical-align: middle;
                border: 0;
            }
            p a{
                font-size: 12px;
            }
        }

        .ad_right{
            width: 440px;
            float: right;

            font-size: 12px;
            color: #999999;

            a{
                font-size: 12px;

            }
        }


    }


}
/**************** 最后部分 广告区  结束 ****************/


/****************公用部分******************/
/* .move .move_content*/
.content_left{

    width: 123px;

    float: left;

    h2 a{
        font-size: 24px;
        padding:6px;
    }
    ul li{
        padding: 5px;

    }

    .app_img{
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 4px;
        box-shadow:1px 0px rgba(97, 95, 38, 0.16);

        margin-bottom: 3px;
    }
    .app_img0{
        background: url("../img/app_logo.jpg") 0 0 no-repeat;
    }
    .app_img1{
        background: url("../img/app_logo.jpg") -50px 0 no-repeat;
    }
    .app_img2{
        background: url("../img/app_logo.jpg") -100px 0 no-repeat;
    }


}
.title_h2{
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;
    clear: both;
    padding-top: 20px;
}

